{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/mavert-black.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section img ftco-about ftco-no-pt ftco-no-pb" style="background-image: url('{% static 'images/redz-coaching.jpg' %}');"  data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-5 py-md-5">
    				<div class="row justify-content-start py-md-5">
		          <div class="col-md-12 heading-section heading-section-white ftco-animate">
		            <h2 class="mb-4">Our Mission</h2>
		            <p>The Redz Hockey Academy's mission is "to provide youth hockey players with the best quality methodology that allows them to be the top quality hockey players that are competitive at an international level and to help them reach their goals."</p>
		            <!--p><a href="#" class="btn btn-secondary py-3 px-4">Watch Game</a></p-->
		          </div>
		        </div>
	        </div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url('{% static 'images/redz-marisa.jpg' %}');"></div>
    			</div>
        </div>
    	</div>
    </section>

    <section class="ftco-section intro" id="about">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 text-center">
    				<h1>Let's Introduce the Academy</h1>
    				<p>The Redz Hockey Academy was launched in February 2019 with the aim of promoting the growth of hockey in Zimbabwe and enhancing the skills of local players to better meet the International Standard. The Redz Hockey Academy aims to create World Class hockey players and at the same time develop the sport of hockey by introducing it in areas that have never experienced this sport especially the rural and high-density area schools. <br><br>
Redz Hockey Academy offers training for both hockey athletes and coaches across Zimbabwe for beginners to elite levels and it offers training to athletes from 6-21 years of age.<p></p>
The Academy aims to provide your child with the adequate tools and skills to develop their hockey as we aim to provide players with the necessary coaching to enhance their skills and growth as a hockey player to meet International Standards.<p></p>
We offer group coaching, skills development training and small sided games during our practice sessions. We also offer individual video analysis and all Members get an end of month report highlighting their progress and areas to improve on.<p></p>
Redz Hockey Academy uses St Johns College Astro turf for all sessions. We run 8 sessions or more per month and our program runs throughout the year. The Academy will also host Super Sunday Skills Clinics at schools outside Harare mainly the boarding schools to also help those players that are not able to attend our Academy sessions because they are at school.</p>
    			</div>
    		</div>
    	</div>
    </section>


    <section class="ftco-section ftco-team img" style="background-image:url({% static 'images/karuma.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section heading-section-white text-center ftco-animate">
            <span class="subheading">Redz Hockey Acedemy Team</span>
            <h2 class="mb-4">Our Team <span></span></h2>
            <p>Strive For Greatness</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="carousel-team owl-carousel">
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/maredza">
                <div class="img" style="background-image: url({% static 'images/redz.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Tendayi Maredza</h3>
                  <span class="position">Head Coach | Director</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/tavha">
                <div class="img" style="background-image: url({% static 'images/tavha.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Tafadzwa Makamure</h3>
                  <span class="position">Secretary</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/kanyiwe">
                <div class="img" style="background-image: url({% static 'images/khanyi.jpg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Kanyiwe Tafuma</h3>
                  <span class="position">Director Of Coaching</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/chipumha">
                <div class="img" style="background-image: url({% static 'images/taku.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Takunda Chipumha</h3>
                  <span class="position">Coach</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/forbes">
                <div class="img" style="background-image: url({% static 'images/forbes.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Forbes Thindwa</h3>
                  <span class="position">Coach</span>
                </div>
                </a>
              </div>
            </div>
            <!--div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-6.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Third Baseman</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Right Fielder</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Center Fielder</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Left Fielder</span>
                </div>
              </div-->
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-ball"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Basics</h3>
                <p>Before you become a star dribbler you need to know how to stop the ball.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Mental Fitness</h3>
                <p>No matter how good you are, if you can’t handle your emotions and pressure you will never reach your full potential.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet-1"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Decision Making</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-bat"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Team Work</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--section class="ftco-section testimony-section slash">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-4">Happy Viewers</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_4.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section-->

  {% endblock %}
