{% extends 'base.html' %}
{% load static %}
{% block content %}




    <div class="hero-wrap js-fullheight " style="background-image: url('{% static 'images/all.jpeg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">


        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 mt-5 pt-5 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">REDZ HOCKEY ACADEMY</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Strive for Greatness.</p>
            <!--p><a href="#" class="btn btn-secondary py-3 px-4">Watch match</a> <a href="#" class="btn btn-primary py-3 px-4">Get ticket</a></p-->
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container-fluid px-0">
	    	<div class="row">
					<div class="col-md-12">
						<div class="game-wrap-1 ftco-animate">
							<div class="row p-2 align-items-center">
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<!--div class="text text-vs d-flex">
										<span class="vs">vs</span>
										<div class="team-logo text-center">
											<div class="img" style="background-image: url(images/team-1.jpg);"></div>
											<h3><span>Practice</span></h3>
										</div>
										<div class="team-logo text-center">
											<div class="img" style="background-image: url(images/team-2.jpg);"></div>
											<h3><span>Jacksonville</span></h3>
										</div-->
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<div class="text">
										<div class="img"></div>
										<h3 class="league">Next Practice</h3>

									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-4">
									<div class="text">
										<div id="timer" class="d-flex mb-0">
										  <div class="time" id="days"></div>
										  <div class="time pl-3" id="hours"></div>
										  <div class="time pl-3" id="minutes"></div>
										  <div class="time pl-3" id="seconds"></div>
										</div>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-2">
									<!--div class="text">
										<p class="mb-0"><a href="#" class="btn btn-primary py-3">Buy Tickets</a></p>
									</div-->
								</div>
							</div>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>

		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
	          <div class="heading-section text-center ftco-animate">
	          	<span class="subheading">The Family</span>
	            <h2 class="mb-4">Watch the video</h2>
	          </div>
	          <div class="scoreboard slash">
	          	<div class="divider ftco-animate text-center mb-4"><span>Our Journey as an Academy</span></div>
	          	<div class="sport-team-wrap ftco-animate">
	          		<!--span class="vs">vs</span-->
		          	<div class="d-sm-flex mb-4">
			          	<!--div class="sport-team d-flex align-items-center">
		          			<div class="img logo" style="background-image: url(images/team-1.jpg);"></div>
										<div class="text-center px-1 px-md-3 desc">
											<h3 class="score win"><span>12</span></h3>
											<h4 class="team-name">Practice</h4>
										</div>
			          	</div>
			          	<div class="sport-team d-flex align-items-center"-->
		          			<!--div class="img logo order-sm-last" style="background-image: url(images/team-2.jpg);"></div>
										<div class="text-center px-1 px-md-3 desc">
											<h3 class="score lost"><span>8</span></h3>
											<h4 class="team-name">Mighty Falcons</h4>
										</div>
			          	</div>
		          	</div>
	          	</div>
	          	<div class="text-center ftco-animate">
		          	<p class="mb-0"><a href="#" class="btn btn-black">More Details</a></p>
		          </div-->
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-highlights">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="img video-wrap ftco-animate d-flex align-items-center justify-content-center py-5" style="background-image: url({% static 'images/some-kid.jpg' %}); width: 100%;">
							<p class="text-center mb-0 py-5">
								<a href="https://www.youtube.com/watch?v=kSYCkbDGXyo" class="icon-video-2 popup-vimeo d-flex justify-content-center align-items-center mr-3">
	    						<span class="ion-ios-play"></span>
	    					</a>
	    					<small style="color: rgba(255,255,255,1); font-size: 16px;">Watch Video</small>
    					</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-game-schedule ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-section text-center ftco-animate mb-4">
          	<span class="subheading">Schedule</span>
          	<h2 class="mb-4">Events</h2>
					</div>
				</div>
				<div class="row ftco-animate">
					<div class="col-md-12 carousel-game-schedule owl-carousel">
						<div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>Friday 5pm @ St Johns College Turf</span> - <span></span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">for</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url({% static 'images/tipi.jpg' %});"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-2.jpg);"></div>
										<h3><span></span></h3>
									</div>
								</div>
							</div>
	          </div>
	          <div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span> Juniors Saturday 4.30pm @ St Johns College Turf</span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">for</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url({% static 'images/tipi.jpg' %});"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-4.jpg);"></div>
										<h3><span></span></h3>
									</div>
								</div>
							</div>
	          </div>
	          <div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>Senior Saturday 5.30pm @ St Johns College Turf</span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">for</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url({% static 'images/tipi.jpg' %});"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-6.jpg);"></div>
										<h3><span></span></h3>
									</div>
								</div>
							</div>
	          </div>
	          <div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>Juniors Sunday 4.30pm @ St Johns College Turf</span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">for</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url({% static 'images/tipi.jpg' %});"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-2.jpg);"></div>
										<h3><span></span></h3>
									</div>
								</div>
							</div>
	          </div>
	          <div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>Seniors Saturday 5.30pm @ St Johns College Turf</span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">for</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url({% static 'images/tipi.jpg' %});"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-4.jpg);"></div>
										<h3><span></span></h3>
									</div>
								</div>
							</div>
	          </div>
	          <!--div class="item">
							<div class="game-sched text-vs text-center">
								<div class="divider"><p><span>Home @ Arena</span> - <span>June 7, 2018</span></p></div>
								<div class="d-flex sched-wrap">
									<span class="vs">vs</span>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-5.jpg);"></div>
										<h3><span>Practice</span></h3>
									</div>
									<div class="team-logo text-center">
										<div class="img" style="background-image: url(images/team-6.jpg);"></div>
										<h3><span>Jacksonville</span></h3>
									</div>
								</div>
							</div-->
	          </div>
					</div>
				</div>
			</div>
		</section>


    <section class="ftco-section img ftco-about ftco-no-pt ftco-no-pb" style="background-image: url({% static 'images/redz-coaching.jpg' %});"  data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-5 py-md-5">
    				<div class="row justify-content-start py-md-5">
		          <div class="col-md-12 heading-section heading-section-white ftco-animate">
		            <h2 class="mb-4">About the Academy</h2>
		            <p>Redz Hockey Academy offers training for both hockey athletes and coaches across Zimbabwe for beginners to elite levels and it offers training to athletes from 6-21 years of age.
The Academy aims to provide your child with the adequate tools and skills to develop their hockey as we aim to provide players with the necessary coaching to enhance their skills and growth as a hockey player to meet International Standards.</p>
		            <p><a href="/about#about" class="btn btn-secondary py-3 px-4">Read More</a></p>
		          </div>
		        </div>
	        </div>
	        <div class="col-md-1"></div>
	        <div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url({% static 'images/redz-2.jpg' %});"></div>
    			</div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-game-schedule">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ftco-animate">
          	<span class="subheading">Schedule</span>
            <h2 class="mb-4">Lets Plan Our Weekend!</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-7 d-flex">
        		<div class="img img-game d-flex align-selg-stretch" style="background-image: url({% static 'images/vonga.jpeg' %});"></div>
        	</div>
        	<div class="col-md-5">
        		<div class="game-sched text-vs text-center mb-1 ftco-animate">
							<div class="divider"><p><span>Friday 4pm @ St Johns College</span> - <span></span></p></div>
							<div class="d-flex sched-wrap">
								<span class="subheading"></span>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-1.jpg);"></div>
									<h3><span>Age: </span></h3>
								</div>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-2.jpg);"></div>
									<h3><span>Seniors and Juniors</span></h3>
								</div>
							</div>
						</div>

						<div class="game-sched text-vs text-center mb-1 ftco-animate">
							<div class="divider"><p><span>Sunday 4.30pm @ St Johns College</span></p></div>
							<div class="d-flex sched-wrap">
								<span class="vs"></span>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-3.jpg);"></div>
									<h3><span>Age: </span></h3>
								</div>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-4.jpg);"></div>
									<h3><span>Juniors</span></h3>
								</div>
							</div>
						</div>

						<div class="game-sched text-vs text-center mb-1 ftco-animate">
							<div class="divider"><p><span>Friday 5.30pm @ St Johns College</span></p></div>
							<div class="d-flex sched-wrap">
								<span class="vs"></span>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-5.jpg);"></div>
									<h3><span>Age: </span></h3>
								</div>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-6.jpg);"></div>
									<h3><span>Seniors</span></h3>
								</div>
							</div>
						</div>

						<!--div class="game-sched text-vs text-center mb-1 ftco-animate">
							<div class="divider"><p><span>Home @ Arena</span> - <span>June 7, 2018</span></p></div>
							<div class="d-flex sched-wrap">
								<span class="vs">vs</span>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-1.jpg);"></div>
									<h3><span>Practice</span></h3>
								</div>
								<div class="team-logo text-center">
									<div class="img" style="background-image: url(images/team-2.jpg);"></div>
									<h3><span>Jacksonville</span></h3>
								</div>
							</div-->
						</div>
        	</div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-team img" style="background-image:url({% static 'images/karuma.jpg'%});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section heading-section-white text-center ftco-animate">
            <span class="subheading">Redz Hockey Acedemy Team</span>
            <h2 class="mb-4">Our Team <span></span></h2>
            <p>Strive For Greatness</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="carousel-team owl-carousel">
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/maredza">
                <div class="img" style="background-image: url({% static 'images/redz.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Tendayi Maredza</h3>
                  <span class="position">Head Coach | Director</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/tavha">
                <div class="img" style="background-image: url({% static 'images/tavha.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Tafadzwa Makamure</h3>
                  <span class="position">Secretary</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/kanyiwe">
                <div class="img" style="background-image: url({% static 'images/khanyi.jpg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Kanyiwe Tafuma</h3>
                  <span class="position">Director Of Coaching</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/chipumha">
                <div class="img" style="background-image: url({% static 'images/taku.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Takunda Chipumha</h3>
                  <span class="position">Coach</span>
                </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <a href="/forbes">
                <div class="img" style="background-image: url({% static 'images/forbes.jpeg' %});"></div>
                <div class="text">
                  <h3 class="mb-0">Forbes Thindwa</h3>
                  <span class="position">Coach</span>
                </div>
                </a>
              </div>
            </div>
            <!--div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-6.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Third Baseman</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Right Fielder</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Center Fielder</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-wrap text-center">
                <div class="img" style="background-image: url(images/staff-7.jpg);"></div>
                <div class="text">
                  <h3 class="mb-0">David Scott</h3>
                  <span class="position">Left Fielder</span>
                </div>
              </div-->
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-ball"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Basics</h3>
                <p>Before you become a star dribbler you need to know how to stop the ball.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Mental Fitness</h3>
                <p>No matter how good you are, if you can’t handle your emotions and pressure you will never reach your full potential.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-helmet-1"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Decision Making</h3>
                <p>What you do when you are on the park is key, one bad decision can change a game and vice versa.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex">
              <div class="icon"><span class="flaticon-baseball-bat"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Team Work</h3>
                <p>At the end of the day Hockey is a tam Sport.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-team img" style="background-image:url({% static 'images/tall.jpeg'%});" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-4">Happy Members</h2>
          </div>
        </div>

        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/marisa.jpeg'%})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Becoming a hockey player has been a dream of mine since I have been able to hold a hockey stick. Hockey is not just a sport to me, it’s a passion and if it is a passion you are willing to do whatever it takes to improve and be better than you were yesterday. Redz academy gave me that opportunity. To improve myself skillfully and mentally. They have given me the tools and abilities to strive and be better. Redz and his team are an amazing group of coaches. They have provided me with the help I need emotionally and physically. Without them, I don’t think I would be where I am today.</p>
                    <p class="name">Marisa Marques</p>
                    <span class="position">Player</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/mavert.jpg'%})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">I remember my first week at the Academy, I clung onto my sister but the coaches showed us we could learn more by meeting new players with different talents. On and Off the field the coaches made sure we were ready and had the skills needed to attack every challenge head on. At the Redz Hockey Academy we are a family and are always looking to grow. As a family we correct and build each other up to reach a level of hockey we could have never have imagined if we did it alone.💙</p>
                    <p class="name">Tinoiwanashe Diwaz Elijah</p>
                    <span class="position">Player</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/mavert.jpg'%})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Having joint Redz Academy we have learnt to stand by the quote “Hard work beats talent when talent doesn't work hard.”
                    We have knocked together friendships we never had in prospect, become the best versions of ourselves in terms of hockey but above all have grown into confident young girls.
                    Being by coached by astounding coaches has been a blessing in disguise. Our skills and basics have gone from zero to hundred in as short as a year, and that for us is a target no one else can see. </p>
                    <p class="name">Tanya and Tatenda Maswera</p>
                    <span class="position">Players</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/ayanda.jpeg'%})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Ever since I joined Redz Hockey Academy I've had the opportunity to interact with a lot of hockey players with different weaknesses and strengths which also taught me how to be a team player and improve my hockey skills. Redz Hockey Academy also taught me how to be confident and believe in myself whilst playing the sport I love..</p>
                    <p class="name">Ayanda Ngwenya</p>
                    <span class="position">Player</span>
                  </div>
                </div>
              </div>
              <!--div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Jason Smith</p>
                    <span class="position">Viewer</span>
                  </div>
                </div>
              </div-->
            </div>
          </div>
        </div>
      </div>

    </section>

    <!--section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Blog</span>
            <h2>Recent News</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">

              		<iframe src="https://www.youtube.com/watch?v=4SS7nwwg9Kk" width="400px" height="400px"></iframe>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">29</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">May</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">29</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">May</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_4.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">29</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">May</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section-->



{% endblock %}
