{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/redz.jpeg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 mt-5 pt-5 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tendayi Maredza</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Founder & Director</p>
            <!--p><a href="#" class="btn btn-secondary py-3 px-4">Watch match</a> <a href="#" class="btn btn-primary py-3 px-4">Get ticket</a></p-->
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section intro">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 s">
            <h1>Player Profile</h1>
              </div>
            <p>
              <div class="ftco-section intro">
                <ul>
                  <li>He currently plays for the National men’s team in both indoor and field hockey</li><br>
                  <li>He is the Captain of both National men’s indoor and field hockey teams</li><br>
                  <li>Former captain of the Hippo Hockey Club (which is one of the best hockey clubs in Zimbabwe)</li><br>
                  <li>He has been elected four times as the ‘Sportsman of the Year’ by the Hockey Association of Zimbabwe</li><br>
                  <li>Tendayi is part of the ‘Pro Series Indoor International All-star Team and African All-star team’, playing alongside top players such as ‘Robert Tigges’ who is the Netherlands indoor team captain and others.</li><br>
                  <li>He coached the U17 Zimbabwe Girls Hockey team at the Youth Olympics in Buenos Aires in Argentina after coming third in the Youth Olympic Qualifiers in Algeria. The team produced good results by drawing with South Africa in one of the games.</li><br>
                  <li>He was the Assistant Coach for the U21 Ladies National team that went to the U21 World Cup in Chile in 2016.</li><br>
                  <li>He is currently the U18 Girl’s National coach. In 2016 his team came 3rd at the ‘Four Nations Series’ in Pretoria. In 2017 his team beat Namibia during a test series and in 2018 he took the team to the ‘Bundu Bashers Tournament’ where they won all their games.  </li><br>
                  <li>He is also currently the U21 Ladies National Head Coach that will be going for the World Cup Qualifiers next year</li><br>
                  <li>Hippo Ladies Hockey Club Head Coach</li><br>
                  <li>Tendayi is a Federation International Hockey Level 2 Certified Coach.</li><br>

                </ul>
              </div>




            </p>
          </div>
        </div>
      </div>





    </section>


{% endblock %}
